<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brand Management</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Brand Management</h1>

    <!--add new brand form-->
    <form action="/add"method="POST">
        <input type="text"name="name"placeholder="brand Name"required>
        <input type="text"name="description"placeholder="brand Description">
        <button type="submit">Add Brand</button>
    </form>

    <!--list of brands-->
    <ul>
        <% brands.forEach(brand =>{ %>
        <li>
            <strong><%=brand.name%></strong>:<%=brand.description%>
            <a href="/edit/< %=brand._id%">Edit</a>
            <form action="/delete/<%=brand._id %>" method="POST" style="display:inline;"></form>
            <button type="submit">Delete</button>
        </li>
       <% }) %>
    </ul>
</body>
</html>